export NETWORK="devnet"
export PROGRAM_KEY="gSbePebfvPy7tRqimPoVecS2UsBvYv46ynrzWocc92s" # devnet
export PRODUCTS="./products.json"
export PUBLISHERS="./publishers.json"

export PYTHONBREAKPOINT="IPython.core.debugger.set_trace"
