#!/usr/bin/env sh

export NETWORK="localhost"
#export PROGRAM_KEY="gSbePebfvPy7tRqimPoVecS2UsBvYv46ynrzWocc92s" # devnet
export PROGRAM_KEY="G4D6yy9fBEeQ8gUSBXGbJCSedY3X2WU9X754aqKSn56R" # localhost
export PRODUCTS="./products.json"
export PUBLISHERS="./publishers.json"

export PYTHONBREAKPOINT="IPython.core.debugger.set_trace"
